

<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/style_home.css">
	</head>
	<body>
		<section>
			<h1 style="text-align: center; font-size: 35px;"> Bem vindo ao site da cooperativa Colheita Urbana </h1>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p class="description"> &nbsp; &nbsp; &nbsp; A Cooperativa Colheita Urbana é uma iniciativa que tem por objetivo estimular a                        
											produção e venda de alimentos orgânicos de produtores locais, incentivando seu consumo e                        
											fortalecendo a comunidade de produtores parceiros. Fundada em 2007, atualmente conta com                      
											17 famílias produtoras cooperativadas. Valorizarmos o meio ambiente e acreditamos que a                      
											alimentação livre de venenos deve ser um direito, por isso garantimos que toda nossa cadeia                            
											de produção segue os certificados de produção orgânica determinados pelo Ministério da                      
											Agricultura. Além da produção agrícola, também temos produtos manufaturados, tais como                    
											queijos, tofus, geleias, pães.</p>
		</section>
	</body>
</html>

