<html>
	<head>
		<meta charset="UTF-8">
		<script src="View/js/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="styles\style_general.css">
		<link rel="stylesheet" type="text/css" href="style_home.css">
	</head>
	<body>
	 
	 <ul>
		<li onclick="goHomePage()"><a href="#home">Inicial</a></li>
		<li onclick="goAboutUs()"><a href="#news">Contato</a></li>
		<li onclick="goHome()"><a href="#home">Produtos</a></li>
		<li class="dropdown">
		<!--	
			<a href="javascript:void(0)" class="dropbtn">Selecionar</a>
				<div class="dropdown-content">
					<a href="#">Link 1</a>
					<a href="#">Link 2</a>
					<a href="#">Link 3</a>
				</div> 
		!-->
		</li>
		<li style="float:right" onclick="goUser()"><a href="#user"> Usuário</a></li>
		</ul>

		<section id="login-data" class="container">
			{LOGIN}
		</section>
		
		<section id="request-data" class="container">
			{BASKET_SELECTION}
		</section>
		
		<section  id="aboutUs" class="sobreNos">
			<object class="contact" style="width: 100%; height: 100%" type="text/html" data="View\AboutUs\contato.html"></object>
		</section>
		<section id="homes" class="HomePage">
			<object class="welcome" style="width: 100%; height: 100%" type="text/html" data="View\Home\home.html">
		</section>

	</body>
</html>

<script>
	function goHome() {
	   document.getElementById("request-data").style.display = "block";
	   $(".login").hide("fast");
	   $(".item-selection").hide("fast");
	   $(".basket-selection").show("slow");
	   document.getElementById("login-data").style.display = "none";
	   document.getElementById("aboutUs").style.display = "none";
	   document.getElementById("homes").style.display = "none";
	}
	function goUser() {
	   $(".login").fadeIn("slow");
	   $(".login-request-answer").fadeIn("slow");
       $(".basket-selection").hide("fast");
	   $(".item-selection").hide("fast");
	   document.getElementById("login-data").style.display = "block";
	   document.getElementById("aboutUs").style.display = "none";
	   document.getElementById("request-data").style.display = "none";
	   document.getElementById("homes").style.display = "none"; 
	}
</script>
<script>
	function goAboutUs(){
		document.getElementById("aboutUs").style.display = "block";
	   document.getElementById("request-data").style.display = "none";
	   $(".basket-selection").fadeIn("hide");
	   $(".login").hide("fast");
	   $(".item-selection").hide("fast");
	   document.getElementById("login-data").style.display = "none";
	   document.getElementById("homes").style.display = "none"
	}
		function goHomePage(){
			document.getElementById("homes").style.display = "block"
			document.getElementById("aboutUs").style.display = "none";
			document.getElementById("request-data").style.display = "none";
			$(".basket-selection").fadeIn("hide");
			$(".login").hide("fast");
			$(".item-selection").hide("fast");
			document.getElementById("login-data").style.display = "none";
	}
</script>


