<html>
	</head>
		<script src="View/js/jquery-3.2.1.min.js"></script>
		<script src="View/js/main.js"></script>
	<head>
	<body>
		<section class="container">
			<div class="login">
				<h1>Logar</h1>
				<p><input type="text" name="login" placeholder="Username"></p>
				<p><input type="password" name="password" placeholder="Password"></p>
				<p><button class="login-button">Login</button></p>
			</div>
			<hr/>
			<div class="basket">
				<p>Escolha uma cesta:</p>
				<p><input type="radio" name="basket" value="sementinha">Sementinha</p>
				<p><input type="radio" name="basket" value="broto">Broto</p>
				<p><input type="radio" name="basket" value="arbusto">Arbusto</p>
				<p><input type="radio" name="basket" value="surprise"><strong>Surpresa</strong></p>
			</div>
		</section>
	</body>
</html>