<div class="basket-selection">
	<p>Escolha uma cesta:</p>
	{BASKET}
	<p><input type="checkbox" name="suprise_basket" value="surprise"><strong>Surpresa</strong></p>
	<p>Restrição alimentar:</p>
	<p>
		<select class="food_restriction" multiple>
			<option value="gluten">Alimentos sem glúten</option>
			<option value="lactose">Alimentos sem lactose</option>
			<option value="vegano">Alimentos vegano</option>
		</select>
	</p>
	<p><button class="basket-next-button">Próximo</button></p>
</div>

<script>
$(function(){
	$(".basket-next-button").click(function() {
		$(".basket-selection").hide()
		$(".item-selection").show()
	})
});
</script>