<div class="item-selection">
	<p style="padding: 10px;"><button class="item-previous-button">Anterior</button></p>
	<div class="item-list">
		{ITEMS}
	</div>
	<p style="padding: 10px;"><button class="item-next-button" disabled>Finalizar</button></p>
</div>



<script>
$(function(){
	$(".item-previous-button").click(function() {
		$(".basket-selection").fadeIn("slow")
		$("fieldset input[id='restriction']").each(function () {
			$(this).parent().show()
			$('input[type="checkbox"][id="' + $(this).attr('name') + '"]').prop('checked', false);
		})
		$(".item-selection").hide()
	})

	$(".item-next-button").click(function() {

		if (validateBasketRules()) {
			$(".basket-selection").show()
			$(".item-selection").hide()
			var basket = $("input[name=basket]:checked").val()
			var food_restriction = $('.food_restriction').val()
			var selectedFood = $('input[name="food"]:checkbox:checked').map(function() {
				return this.value;
			}).get();
			$.post("index.php?obj=Request&mth=confirmationRequest", {
				basket: basket,
				food_restriction: food_restriction,
				food: selectedFood
			})
			.done(function(data) {
				$("#request-data").html(data)
			})
			.fail(function() {
				alert( "error" )
			})
		}
	})
	
	function validateBasketRules() {
		var validate = true
		$("fieldset input[type='checkbox']:checked").each(function () {
			if (isNaN(basketRulesCount[$(this).attr('group')])) {
				basketRulesCount[$(this).attr('group')] = 0;
			}
			basketRulesCount[$(this).attr('group')]++;
		})
		for (let i in basketRulesCount) {
			if (basketRules[i] < basketRulesCount[i]) {
				alert('Na categoria ' + i + ', foi selecionado um número de produtos acima do permitido')
				validate = false
			} else if (basketRules[i] > basketRulesCount[i]) {
				alert('Na categoria ' + i + ', foi selecionado um número de produtos abaixo do permitido')
				validate = false
			}
		}
		basketRulesCount = []
		return validate
	}
	
	$(".item-selection").hide()
});
</script>