<div class="user-request">
	<p><label><b>Pedido Número</b></label>: <span class="id-request">{ID_REQUEST}</span></p>
	<p><label><b>Nome</b></label>: <span class="user-name-request">{USER_NAME}</span></p>
	<p><label><b>CPF</b></label>: <span class="user-cpf-request">{USER_CPF}</span></p>
	<p><label><b>Endereço</b></label>: <span class="user-address-request">{USER_ADDRESS}</span></p>
	<p><label><b>Telefone</b></label>: <span class="user-phone-request">{USER_PHONE}</span></p>
	<p><label><b>Cesta</b></label>: <span class="basket-request">{BASKET}</span></p>
	<p><label><b>Alimentos</b></label>: <span class="items-request">{ITEMS}</span></p>
	<p><label><b>Status</b></label>: <span class="status-request">{STATUS}</span></p>
</div>