<button id="listButton" onclick="showList()">Lista de Pedidos</button>
<section id="list" style="border: 0px solid #000; display:none;" class="user-request-list-data">
	<hr>
	<h1 style="padding-top: 20px; font-size: 24px;">Lista de pedidos</h1>
		<p><button onclick="hideList()">Voltar</button></p>
				<fieldset style=" padding-left: 10px; padding-right 10px; padding-bottom: 20px; display: ruby-base; border: 0px solid rgba(0,0,0,0);">
					<p>{REQUEST_LIST}</p>
				</fieldset>
		<p><button onclick="hideList()">Voltar</button></p>
</section>
<script>
		function showList(){
			document.getElementById("list").style.display = "block"
			document.getElementById("showItemButton").style.display = "none"
			document.getElementById("showFormButton").style.display = "none"
			document.getElementById("listButton").style.display = "none"
	}
			function hideList(){
			document.getElementById("list").style.display = "none"
			document.getElementById("showFormButton").style.display = "block"
			document.getElementById("showItemButton").style.display = "block"
			document.getElementById("listButton").style.display = "block"

	}
</script>