<button id="listButton">Lista de Pedidos</button>
<section id="list" style="border: 0px solid #000; display: none;" class="user-request-list-data">
	<hr style="border: 1px solid white;">
	<h1 style="padding-top: 20px; font-size: 24px;">Lista de pedidos</h1>
		<p><button id="backListButton" class="backListButton">Voltar</button></p>
				<p>Digite um termo para pesquisar: <input type="text" class="request-search"> Selecione o filtro:
				<select class="request-search-filter">
					<option value="id-request">Número do pedido</option>
					<option value="user-name-request">Nome</option>
					<option value="user-cpf-request">CPF</option>
					<option value="user-address-request">Endereço</option>
					<option value="user-phone-request">Telefone</option>
					<option value="basket-request">Cesta</option>
					<option value="items-request">Produtos</option>
					<option value="status-request">Status</option>
				</select>
				</p>
				<fieldset style=" padding-left: 10px; padding-right 10px; padding-bottom: 20px; display: ruby-base; border: 0px solid rgba(0,0,0,0);">
					<p>{REQUEST_LIST}</p>
				</fieldset>
		<p><button id="backListButton" class="backListButton">Voltar</button></p>
</section>
<script>
$(function() {
	$(".request-search").on("change paste keyup", function() {
		$(".user-request").each(function (index, element) {
			
			var span = $(element).find("span[class='" + $('.request-search-filter').val() + "']")
			
			if ($(span).html().toLowerCase().indexOf($(".request-search").val().toLowerCase()) != -1) {
				$(element).fadeIn("fast")
			} else {
				$(element).fadeOut("fast")
			}
		})
	})

	function showList(){
		$("#listButton").hide()
		$("#list").fadeIn("slow")
		$("#showItemButton").fadeOut("slow")
		$("#showFormButton").fadeOut("slow")
	}
	function hideList(){
		$("#list").hide()
		$("#listButton").fadeIn("slow")
		$("#showFormButton").fadeIn("slow")
		$("#showItemButton").fadeIn("slow")
	}

	$('#listButton').click(function() {
		showList()
	})

	$('.backListButton').click(function() {
		hideList()
	})
})
</script>