

<html>
<head>
    <title>--Formulario para Contato--</title>
    <meta charset="utf-8" />
  		<link rel="stylesheet" type="text/css" href="styles\style_general.css">

   <h1>Contate-nos</h1>
  
</head>
<body>
    <form name="meu_form">

	<!-- informações do site -->
	<div>
	
        <h2 class="title">Contato Para Colheita urbana</h2>
        
        <h3 class="label">Telefones </h3>
        <h4 class="txt">
            0800-1234	 ( ligue de qualquer cidade )	<br>
            (51)988543652 Whatsapp                      <br>
			
        </h4>
        
        <h3 class="label">Comercial</h3>
        <h4 class="txt">
            
          <!-- aqui teria o seguinte comando caso o site fosse comercial "<a href="endereço de email"> -->comercial@colheitaurbana.com.br</a>
        </h4>
        
        <h3 class="label">Relacionamento</h3>
        <h4 class="txt">
            
           relacionamento@colheitaurbana.com.br</a>
        </h4>
        
        <h3 class="label">Suporte</h3>
        <h4 class="txt">
            
        suporte@colheitaurbana.com.br</a>
        </h4>
        
      
        <h3 class="label">Redes Sociais </h3>
        <h4 class="txt">Facebook: https://www.facebook.com/ColheitaUrbana <br>
                        Twitter: https://twitter.com/ColheitaUrbana       <br>
						Instagram: https://www.instagram.com/ColheitaUrbana/<br>
						</a></h4>

	<!-- parte para entrar em contato -->
       

        <p class="nome">
            <input type="text" id="nomeid" placeholder="Nome Completo" required="required" name="nome" />
            <label for="nome">Nome</label>
        </p>
        <p class="Telefone">
            <input type="text" id="foneid" placeholder="(DD)9????????" name="Telefone" />
            <label for="fone">Telefone</label>

        </p>
        <p>
            <input type="email" id="emailid" placeholder="adalmir@gmail.com" name="email" />
            <label for="email">Email</label>
        </p>
        <p>
            <textarea placeholder="Deixe aqui sua mensagem ou opniao">    </textarea>
        </p>
        <p class="submit">
            <input type="submit" onclick="Enviar();" value="Enviar" />
        </p>
 
    </form>
</body>
</html>