<button id="showItemButton" onclick="showNewItem()">Cadastrar Item</button>
<section class="register-item">
	<fieldset id="newItemForm" style="border: 0px solid #000; display:none;">
	<hr style="border: 1px solid white;">
		<h1 style="padding-top: 20px; font-size: 24px;">Cadastro de Novo Item</h1>
		<p><input type="text" name="itemName" placeholder="Nome do item"></p>
		<p><input type="text" name="unitName" placeholder="Nome da unidade"></p>
		<p><input type="text" name="unitWeight" placeholder="Peso da unidade"></p>
		<p>Grupo:</p>
		<p>
			<select name="itemGroup">
				<option value="Outros">Outros</option>
				<option value="Queijos">Queijos</option>
				<option value="Pães">Pães</option>
				<option value="Hortaliças">Hortaliças</option>
				<option value="Raízes">Raízes</option>
				<option value="Frutas">Frutas</option>
			</select>
		</p>
		<p>Restrição alimentar(se houver):</p>
		<p>
			<select name="foodRestriction" multiple>
				<option value="gluten">Contém glúten</option>
				<option value="lactose">Contém lactose</option>
				<option value="vegano">Alimento vegano</option>
			</select>
		</p>
		<p><input type="text" name="quantity" placeholder="Quantidade em estoque"></p>
		<p><button onclick="hideNewItem()">Voltar</button><button class="register-item-button">Cadastrar</button></p>
		<p class="register-item-message"></p>
	</fieldset>
</section>

<script>
$(function() {
	$(".register-item-button").click(function() {
		var name = $("[name='itemName']").val()
		var unitName = $("[name='unitName']").val()
		var unitWeight = $("[name='unitWeight']").val()
		var itemGroup = $("[name='itemGroup']").val()
		var foodRestriction = $("[name='foodRestriction']").val() 
		var quantity = $("[name='quantity']").val()
		$.post("index.php?obj=Item&mth=register", { 
			name: name,
			unitName: unitName,
			unitWeight: unitWeight,
			itemGroup: itemGroup,
			foodRestriction: foodRestriction,
			quantity: quantity
		})
		.done(function(data) {
			$(".register-item-message").html(data)
			$.post("index.php?obj=Item&mth=refreshItems")
			.done(function(data) {
				$(".item-list").html(data)
			})
		})
		.fail(function() {
			alert( "error" )
		})
	})
});
</script>
<script>
		function showNewItem(){
			document.getElementById("newItemForm").style.display = "block"
			document.getElementById("showItemButton").style.display = "none"
			document.getElementById("showFormButton").style.display = "none"
			document.getElementById("listButton").style.display = "none"
	}
			function hideNewItem(){
			document.getElementById("newItemForm").style.display = "none"
			document.getElementById("showItemButton").style.display = "block"
			document.getElementById("showFormButton").style.display = "block"
			document.getElementById("listButton").style.display = "block"
	}
</script>