<button id="showFormButton" onclick="showNewForm()">Cadastrar Usuário</button>
<section class="register-user">
	
	<fieldset id="newForm" style="border: 0px solid #000; display:none;">
		<hr>
		<h1 style="padding-top: 20px; font-size: 24px;">Cadastro de Novo Usuário</h1>
		<p><input type="text" name="login" placeholder="Nome de usuário"></p>
		<p><input type="password" name="password" placeholder="Password"></p>
		<p>
			<input type="radio" name="permission" value="1">Adminstrador
			<input type="radio" name="permission" value="0">Usuário
		</p>
		<p><input type="text" name="name" placeholder="Nome"></p>
		<p><input type="text" name="cpf" placeholder="CPF"></p>
		<p><input type="text" name="address" placeholder="Endereço"></p>
		<p><input type="text" name="phone" placeholder="Telefone"></p>
		<p><button onclick="hideNewForm()">Voltar</button><button class="register-button">Cadastrar</button></p>
		<p class="register-message"></p>

	</fieldset>
</section>

<script>
$(function(){
	$(".register-button").click(function() {
		var login = $("[name='login']").val()
		var password = $("[name='password']").val()
		var permission = $("input[name=permission]:checked").val()
		var name = $("[name='name']").val()
		var cpf = $("[name='cpf']").val()
		var address = $("[name='address']").val()
		var phone = $("[name='phone']").val()
		$.post("index.php?obj=User&mth=register", { 
			login: login,
			password: password,
			permission: permission,
			name: name,
			cpf: cpf,
			address: address,
			phone: phone
		})
		.done(function(data) {
			$(".register-message").html(data)
		})
		.fail(function() {
			alert( "error" )
		})
	})
});
</script>
<script>
		function showNewForm(){
			document.getElementById("newForm").style.display = "block"
			document.getElementById("showFormButton").style.display = "none"
			document.getElementById("showItemButton").style.display = "none"
			document.getElementById("listButton").style.display = "none"
	}
			function hideNewForm(){
			document.getElementById("newForm").style.display = "none"
			document.getElementById("showFormButton").style.display = "block"
			document.getElementById("showItemButton").style.display = "block"
			document.getElementById("listButton").style.display = "block"
	}
</script>