
<section class="register-user">
	<fieldset>
		<legend>Cadastro de Novo Usuário</legend>
		<p><input type="text" name="login" placeholder="Nome de usuário"></p>
		<p><input type="password" name="password" placeholder="Password"></p>
		<p>
			<input type="radio" name="permission" value="1">Adminstrador
			<input type="radio" name="permission" value="0">Usuário
		</p>
		<p><input type="text" name="name" placeholder="Nome"></p>
		<p><input type="text" name="cpf" placeholder="CPF"></p>
		<p><input type="text" name="address" placeholder="Endereço"></p>
		<p><input type="text" name="phone" placeholder="Telefone"></p>
		<p><button class="register-button">Cadastrar</button></p>
		<p class="register-message"></p>
	</fieldset>
</section>

<script>
$(function(){
	$(".register-button").click(function() {
		var login = $("[name='login']").val()
		var password = $("[name='password']").val()
		var permission = $("input[name=permission]:checked").val()
		var name = $("[name='name']").val()
		var cpf = $("[name='cpf']").val()
		var address = $("[name='address']").val()
		var phone = $("[name='phone']").val()
		$.post("index.php?obj=User&mth=register", { 
			login: login,
			password: password,
			permission: permission,
			name: name,
			cpf: cpf,
			address: address,
			phone: phone
		})
		.done(function(data) {
			$(".register-message").html(data)
		})
		.fail(function() {
			alert( "error" )
		})
	})
});
</script>