
<section style="padding-left: 10px;" class="login-data">
	<h1 style="padding-top: 20px;">Usuário</h1>
	<p>Bem vindo: <strong>{NAME}</strong></p>
	<p>CPF:&nbsp;{CPF}</p>
	<p>Endereço:&nbsp;{ADDRESS}</p>
	<p>Telefone:&nbsp;{PHONE}</p>
	<p><button class="edit-button">Editar</button><button onclick="goHomePage()" class="logout-button">Sair</button></p>
</section>

<section style="padding-left: 10px; display:none;" class="update-user-data">
	<h1 style="padding-top: 20px;">Editar</h1>
	<input type="hidden" name="edit_id_user" value="{ID_USER}"/>
	<p>Nome: <input type="text" name="edit_name" value="{NAME}"/></p>
	<p>CPF:&nbsp; <input type="text" name="edit_cpf" value="{CPF}"/></p>
	<p>Endereço:&nbsp; <input type="text" name="edit_address" value="{ADDRESS}"/></p>
	<p>Telefone:&nbsp; <input type="text" name="edit_phone" value="{PHONE}"/></p>
	<p><button class="edit-user-button">Salvar</button><button class="cancel-edit-user-button">Voltar</button></p>
</section>

<script>
$(function(){
	$(".item-next-button").prop('disabled', false);
	$(".logout-button").click(function() {
		$.post("index.php?obj=Login&mth=logout")
		.done(function(data) {
			$("#login-data").html(data)
		})
	})

	$(".edit-button").click(function() {
		$('.login-data').hide();
		$('.update-user-data').fadeIn("slow");
	})

	$(".cancel-edit-user-button").click(function() {
		$('.update-user-data').hide();
		$('.login-data').fadeIn("slow");
	})

	$('.edit-user-button').click(function() {
		var id_user = $("[name='edit_id_user']").val()
		var name = $("[name='edit_name']").val()
		var cpf = $("[name='edit_cpf']").val()
		var address = $("[name='edit_address']").val()
		var phone = $("[name='edit_phone']").val()
		var username = $("[name='edit_username']").val()
		var password = $("[name='edit_password']").val()
		$.post("index.php?obj=User&mth=update", {
			id_user: id_user,
			name: name,
			cpf: cpf,
			address: address,
			phone: phone,
			username: username,
			password: password,
		})
		.done(function(data) {
			alert(data)
			window.location.reload();
		})
	})
});

		function goHomePage(){
			document.getElementById("homes").style.display = "block"
			document.getElementById("aboutUs").style.display = "none";
			document.getElementById("request-data").style.display = "none";
			$(".basket-selection").fadeIn("hide");
			$(".login").hide("fast");
			$(".item-selection").hide("fast");
			document.getElementById("login-data").style.display = "none";
	}
</script>
<section style="padding-bottom: 20px; display: flex;">{FORM_NEW_USER}{FORM_NEW_ITEM}{REQUEST_LIST}</section>
